.navbar-custom 
{
    background-color:rgb(165, 158, 158) ;
}

.jumbotron
{
    text-align: center;
    background-color: rgb(175, 120, 74);
}

.footer
{
    background-color: rgb(165, 158, 158);
    text-align: center;
    color: white;
    position:sticky;
    top:100%;
}

.container
{
    background: rgb(2,0,36);
    background: gray;
    width: 1900px;
    height: 1080px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-btn-primary
{
    background-color: #4CAF50;
    border-radius: 12px;
}
